.rootAniversariantes {
  /* grid-column: 2 / 8;
  grid-row: 4; */
  background-color: var(--surface-a0);
  border-radius: 12px;
  padding: 30px;
  color: var(--light-a0);
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.rootAniversariantes h3.liTitle {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--primary-a30);
  margin-bottom: 10px;
}

.rootAniversariantes ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rootAniversariantes li {
  background-color: var(--surface-a20);
  padding: 15px 20px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  display: flex; /* Layout flex para alinhar elementos */
  align-items: center; /* Centraliza verticalmente */
  padding: 10px 20px; /* Ajuste de padding */
  min-height: 70px;
}

.rootAniversariantes li:hover {
  background-color: var(--surface-a30);
}

.rootAniversariantes .aluno-card {
  max-width: 90vw;
  max-height: 90vh;
  width: 90%;
  padding: 2rem;
}

.rootAniversariantes .aluno-details {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.rootAniversariantes .detail-section {
  padding: 1.5rem;
}

.rootAniversariantes .fotoAluno {
  width: 80px;
  height: 80px;
}

/* Garanta que os cards tenham mesma aparência */
.niver-details-card .aluno-card,
#results .aluno-card {
  font-size: 1.8em !important;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Force a consistência das imagens */
.rootAniversariantes .fotoAluno {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover !important;
}